
@{
    ViewBag.Title = "Администрирование";
}

<h2>Перейти</h2>
<p>@Html.ActionLink("База продажи недвижимости","IndexSell","AdminSell")</p>
<p>@Html.ActionLink("База аренды недвижимости", "IndexRent","AdminRent")</p>
<p>@Html.ActionLink("База предоставляемых услуг", "IndexService","AdminService")</p>